<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header>    
    <%- include("../partials/headerAdmin") %>

    </header>
    <main class=" container">           <!-- INICIO MAIN-->

        <div class="search-list">
            <img class="search__svg" src="/img/icons/search_icon.svg" alt="busqueda de productos">
            <input type="text" class="form-control pull-right" id="search" placeholder="Código, nombre o categoria">
        </div>

        <div class="container__list">

            <div class="list-products">
                <h1 class="list-title">LISTADO DE PRODUCTOS</h1>
            </div>
            <div class="list-products__add">
            <p>AGREGAR</p>
            </div>
            <div class="list__add-b ">
                <a href="/admin/create"><img class="list__add " src="/img/icons/plus-box.svg"></a>
            </div>
            
        </div>
        <table  cellpadding="15" cellspacing="0">
            <tr class="board">
                <td class="boar__id"><strong>ID</strong></td>
                <td class="board__code"><strong>Código</strong></td>
                <td class="board__name"><strong>Nombre del Producto</strong></td>
                <td class="board__category"><strong>Licencia</strong></td>
            </tr>

            <% datos.forEach(item => { %>

             <tr class="gral">
                <td class="id__one"><%= item.product_id %></td>
                <td class="code__type"><%= item.sku %></td>
                <td class="name__by"><%= item.product_name %></td>
                <td class="category__sw"><%= item.licence_name %></td>
                
                <td><a href="/admin/edit/<%= item.product_id %>">
                    <img class="size-img" src="/img/icons/edit_pencil.svg"></a></td>
                
                <td><a href="/admin/delete/<%= item.product_id %>">
                    <img class="size-img" src="/img/icons/delete_trash.svg"></a></td>
                    
            </tr>
            <% }); %>
            
        </table>
        </main>

    
        <footer class="footer">
             <%- include("../partials/footerAdmin") %>

        </footer>    
</body>
</html>