<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <header>
    <%- include("../partials/headerAdmin") -%>

    </header>

    <main class="container">    <!--COMIENZO DEL MAIN-->
        <div class="title">
                <h1>EDITAR ITEM</h1>
        </div>
        <form class="edit__form" action="/admin/edit" method = "POST" enctype ="application/x-www-form-urlencoded">

        <section class="categoria">
            <div class="subcat_cat">
                <label for="categoria" class="label-1"><p>Categoría:</p></label>
            <select class="categoria_list" name="categoria" id="categoria" >
                <% if (product.category_id == 1) { %>
                <option value= "1" class="categoria_option" selected>Funkos</option>
                <option value= "2" class="categoria_option">Remeras</option>
                <option value= "3" class="categoria_option">Llaveros</option>
                <% } %>

                <% if (product.category_id == 2) { %> 
                <option value= "1" class="categoria_option">Funkos</option>
                <option value= "2" class="categoria_option" selected>Remeras</option>
                <option value= "3" class="categoria_option">Llaveros</option>
                <% } %>

                <% if (product.category_id == 3) { %>
                <option value= "1" class="categoria_option" >Funkos</option>
                <option value= "2" class="categoria_option">Remeras</option>
                <option value= "3" class="categoria_option" selected>Llaveros</option>
                <% } %>

            </select>
            </div>
            <div class="subcat_cat">
                <label for="licencia" class="label-2"><p>Licencia:</p></label>
            <select name="licencia" class="licencia_list">
                <% if (product.licence_id == 1) { %>
                <option value= "1" class="licencia_option" selected>Pokemon</option>
                <option value= "2" class="licencia_option">Star Wars</option>
                <option value= "3" class="licencia_option">Harry Potter</option>
                <% } %>

                <% if (product.licence_id == 2) { %>
                <option value= "1" class="licencia_option">Pokemon</option>
                <option value= "2" class="licencia_option" selected>Star Wars</option>
                <option value= "3" class="licencia_option">Harry Potter</option>
                <% } %>

                <% if (product.licence_id == 3) { %>
                <option value= "1" class="licencia_option">Pokemon</option>
                <option value= "2" class="licencia_option">Star Wars</option>
                <option value= "3" class="licencia_option" selected>Harry Potter</option>
                <% } %>

            </select>
            </div> 
        </section>

        <div class="nombre_producto">
            <label for="nombre-producto" class="label_nombre"><p>Nombre del producto:</p></label> 
            <input type="text" id="nombre-producto" size="24" class="input_nombre_prod" value= "<%= product.product_name %>">
        </div>
    
        <div class="descripcion">
            <textarea name="texto" rows="8" cols="70" class="descripcion_fig" required><%= product.product_description %></textarea>
        </div>
    
        <div class="invent_sub">
            <section class="invent_seccion">
        
            <label for="sku" class="invent_label_sku">SKU:</label>   
            <input type="text" id="sku" class="invent_input_sku" value= "<%=product.sku %>">
            </section>
        <section class="invent_seccion">
            <label for="precio" class="invent_label_precio">Precio:</label> 
            <input type="text" id="precio" class="invent_input_precio" value="<%= product.price %>">
        </section>
        
    
        <section class="invent_seccion">
            <label for="stock" class="invent_label_stock" >Stock:</label> 
            <input type="text" id="stock" class="invent_input_stock" value="<%= product.stock %>">
        
        </section>
        </div>
    
        <div class="invent_desc">
        <section class="desc_sect">
        
            <label for="descuento" class="invent_label_desc" >Descuento:</label> 
            <input type="text" id="descuento" class="invent_input" value="<%= product.discount %>">
        </section>

        <section class="desc_sect_cuotas">
            <label for="cuotas" class="invent_label_cuotas">Cuotas:</label>
        
        <select name="cuotas" class="invent_cuotas" id="cuotas">
            <option value="" class="invent_cuotas_opc1"><%= product.dues %> Cuotas sin interés</option>
            
        </select>
        </section>
        </div>
        <div class="imagen">
            <label for="imagenes" class="imagen_img">Imágenes:</label>
            <input type="button" class="imagen_img_btn" value="Elegir archivos" id="imagenes"><b>No se ha seleccionado ningun archivo.</b>
           
        </div>

        <div class="form__box--flex">
            <div class="edit__img">
                <img src="/img/<%= product.image_front %>" alt="">
                <p class="edit__img-side">Frente</p>
            </div>
            <div class="edit__img">
                <img src="/img/<%= product.image_back %>" alt="">
                <p class="edit__img-side">Dorso</p>
            </div>
        </div>
        
        <div class="boton">
            <input class="boton_send" type="button" value="Modificar Producto">
        </div>
        </form>

    </main>
    <footer class="footer">
    
     <%- include("../partials/footerAdmin") %>

    </footer>
     
</body>
</html>